* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar,
.footer,
header {
    background-color: #1f2937;
    padding: 48px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.container p {
    color: #E5E7EB;
}

.container .btn {
    background-color: #3882F6;
    color: white;
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

.contentOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.contentOne h2 {
    padding-bottom: 24px;
}

.contentOne .boxes {
    display: flex;
    gap: 20px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    border-radius: 8px;
}

.cont p {
    text-align: center;
    height: 100px;
    width: 100px;
}

.contentTwo {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.contentTwo blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.contentTwo p {
    align-self: flex-end;
    font-size: 15px;
    font-weight: bold;
}

.contentThree {
    padding: 64px;
}

.signCont {
    color: white;
    background-color: #3882F6;
    font-size: small;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 75px;
}

.signCont .btn {
    background-color: #3882F6;
    color: white;
    height: 25px;
    width: 100px;
    border: 1px solid white;
    border-radius: 6px;
}

.footer {
    font-size: small;
    text-align: center;
    color: #E5E7EB;
    padding: 16px;
}